<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Reset hasła</h1>

      @if (initialized && !key) {
        <div class="alert alert-danger">Brakuje klucza resetującego hasło.</div>
      }

      @if (key && !success) {
        <div class="alert alert-warning">
          <span>Wybierz nowe hasło</span>
        </div>
      }

      @if (error) {
        <div class="alert alert-danger">
          <span>Twoje hasło nie mogło zostać zresetowane. Pamiętaj, że prośba o zresetowanie hasła jest ważna tylko przez 24 godziny.</span>
        </div>
      }

      @if (success) {
        <div class="alert alert-success">
          <span><strong>Twoje hasło zostało zresetowane.</strong> Proszę </span>
          <a class="alert-link" routerLink="/login">zalogować</a>.
        </div>
      }

      @if (doNotMatch) {
        <div class="alert alert-danger">Hasło i potwierdzenie nie zgadzają się!</div>
      }

      @if (key && !success) {
        <div>
          <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword">Nowe hasło</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Nowe hasło"
                formControlName="newPassword"
                data-cy="resetPassword"
                #newPassword
              />

              @if (
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              ) {
                <div>
                  @if (passwordForm.get('newPassword')?.errors?.required) {
                    <small class="form-text text-danger">Twoje hasło jest wymagane.</small>
                  }

                  @if (passwordForm.get('newPassword')?.errors?.minlength) {
                    <small class="form-text text-danger">Twoje hasło powinno mieć minimum 4 znaki</small>
                  }

                  @if (passwordForm.get('newPassword')?.errors?.maxlength) {
                    <small class="form-text text-danger">Twoje hasło nie może być dłuższe niż 50 znaków</small>
                  }
                </div>
              }

              <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Potwierdź nowe hasło</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Potwierdź nowe hasło"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @if (
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              ) {
                <div>
                  @if (passwordForm.get('confirmPassword')?.errors?.required) {
                    <small class="form-text text-danger">Potwierdzenie hasła jest wymagane.</small>
                  }

                  @if (passwordForm.get('confirmPassword')?.errors?.minlength) {
                    <small class="form-text text-danger">Potwierdzenie hasła powinno mieć minimum 4 znaki</small>
                  }

                  @if (passwordForm.get('confirmPassword')?.errors?.maxlength) {
                    <small class="form-text text-danger">Potwierdzenie hasła nie powinno być dłuższe niż 50 znaków</small>
                  }
                </div>
              }
            </div>

            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Sprawdź nowe hasło</button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
