<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Zresetuj swoje hasło</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success) {
        <div class="alert alert-warning">
          <span>Wpisz email użyty podczas rejestracji.</span>
        </div>
      } @else {
        <div class="alert alert-success">
          <span>Sprawdź email w celu uzyskania szczegołów jak zresetować hasło.</span>
        </div>
      }

      @if (!success) {
        <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Twój email"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger">Twój email jest wymagany.</small>
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger">Twój email jest błędny.</small>
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger">Twój email musi mieć przynajmniej 5 znaków</small>
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger">Twój email nie może być dłuższy niż 50 znaków</small>
                }
              </div>
            }
          </div>

          <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Reset hasła</button>
        </form>
      }
    </div>
  </div>
</div>
